html {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  transform: translateY(-50%);
  position: absolute;
  top: 25%;
}

#file-name {
  display: inline-block;
  width: 18rem;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 2;
}

#tooltip-wrapper {
  position: absolute;
  visibility: hidden;
  opacity: 0.7;
}

#tooltip {
  display: block;
  position: relative;
  width: 15rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  transform: translateY(-105%);
  overflow-wrap: break-word;
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.buttons {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dddbda;
  color: #fff;
  border-radius: 0.25rem;
  font-size: inherit;
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  transition: background-color 0.5s, box-shadow 0.5s;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  background-color: #0070d2;
}

.custom-file-upload:hover {
  box-shadow: 0px 0px 0.2rem 0.2rem rgba(32, 95, 178, 0.5);
  background-color: #205fb2;
}

.custom-file-upload:focus {
  background-color: #205fb2;
}

#upload-confirm {
  background-color: #4bca81;
}

#upload-confirm:hover {
  box-shadow: 0px 0px 0.2rem 0.2rem rgba(55, 132, 75, 0.5);
  background-color: #37844b;
}

#upload-confirm:focus {
  background-color: #37844b;
}
