html {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
}

.slds-form-element,
.slds-file-selector,
#dropzone {
  width: -webkit-fill-available;
}

#dropzone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#form {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

#file-name {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 2;
}

#tooltip-wrapper {
  position: absolute;
  visibility: hidden;
  opacity: 0.7;
}

#tooltip {
  display: block;
  position: relative;
  width: 8rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  transform: translateY(-105%);
  overflow-wrap: break-word;
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.buttons {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dddbda;
  color: #fff;
  border-radius: 0.25rem;
  font-size: inherit;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: block;
  background-color: #0070d2;
}

.custom-file-upload:focus {
  background-color: #205fb2;
}

.custom-file-upload:hover {
  box-shadow: 0px 0px 0.2rem 0.2rem rgba(32, 95, 178, 0.5);
  background-color: #205fb2;
}

#upload-confirm {
  background-color: #4bca81;
  color: black;
  text-decoration: none;
}

#upload-confirm:hover {
  box-shadow: 0px 0px 0.2rem 0.2rem rgba(55, 132, 75, 0.5);
  background-color: #37844b;
  color: white;
}

#upload-confirm:focus {
  background-color: #37844b;
}

#progress-container {
  visibility: hidden;
}

.blocker {
  overflow: visible;
}

#upload-text {
  transform: translate(2%, 65%);
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
